<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-flag icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Liste des challenges
                    <div class="page-title-subheading">
                        Entrainez-vous sur des challenges de sécurité et de hacking.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-primary" 
                        routerLink="add" 
                        *ngIf="isAdmin">
                    <i class="fa fa-plus-circle"></i> Ajouter un défi
                </button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="resolvedChallenges">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Challenges</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Catégorie</th>
                                <th>Niveau</th>
                                <th>Points</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let challenge of challenges">
                                <tr [ngClass]="{'alert-success': challenge.isResolved}">
                                    <td>{{ challenge.name }}</td>
                                    <td>{{ challenge.category.name }}</td>
                                    <td>{{ challenge.level }}</td>
                                    <td>{{ challenge.points }}</td>
                                    <td>
                                        <a routerLink="/challenge/{{ challenge.id }}"
                                            class="mb-2 mr-2 btn-transition btn btn-success">
                                            <i class="fas fa-flag"></i>
                                        </a>
                                        <ng-container *ngIf="isAdmin">
                                            <a routerLink="/challenge/edit/{{ challenge.id }}" 
                                                class="mb-2 mr-2 btn-transition btn btn-warning">
                                                <i class="fas fa-tools text-light"></i>
                                            </a>
                                            <a (click)="deleteChallenge(challenge.id)" 
                                                class="mb-2 mr-2 btn-transition btn btn-danger">
                                                <i class="fas fa-trash text-light"></i>
                                            </a>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>