<div class="row">
    <div class="col">
        <div class="progress-box">
            <h4>Server Load 1</h4>
            <div class="circle-progress circle-progress-gradient-xl mx-auto"><canvas width="142" height="142" style="height: 114px; width: 114px;"></canvas>
                <small><span class="fsize-2">51%<span></span></span></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="progress-box">
            <h4>Server Load 2</h4>
            <div class="circle-progress circle-progress-success-xl mx-auto"><canvas width="142" height="142" style="height: 114px; width: 114px;"></canvas>
                <small><span class="fsize-2">16%<span></span></span></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="progress-box">
            <h4>Server Load 3</h4>
            <div class="circle-progress circle-progress-danger-xl mx-auto"><canvas width="142" height="142" style="height: 114px; width: 114px;"></canvas>
                <small><span class="fsize-2">51%<span></span></span></small>
            </div>
        </div>
    </div>
</div>