.bg-premium-dark {
    background-image: linear-gradient(210deg, #02011f, #112390 100%) !important;
}

.logo-src {
    height: 55px;
    width: 210px;
    margin: auto;
    background: url(src\assets\images\logo.png);
    background-size: cover;
}