<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper d-flex justify-content-between">
            <div class="page-title-heading d-flex">
                <div class="d-flex">
                    <span class="page-title-icon">
                        <i class="pe-7s-news-paper icon-gradient bg-happy-itmeo">
                        </i>
                    </span>
                    <span *ngIf="isEditing">
                        Modifier un document
                        <div *ngIf="documentation" class="page-title-subheading">
                            {{ documentation.name }}
                        </div>
                    </span>
                    <span *ngIf="!isEditing">
                        Ajouter un document
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <doc-add-form *ngIf="documentation || !isEditing" [doc]="documentation" (back)="onBack()" (submit)="onSubmit()"></doc-add-form>
        </div>
    </div>
</div>