<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <li>
                    <a routerLink="/">
                        <i class="metismenu-icon pe-7s-home"></i> Accueil
                    </a>
                </li>
                <li class="app-sidebar__heading">Challenges</li>
                <li class="mm-active">
                    <a href="#" aria-expanded="true">
                        <i class="metismenu-icon pe-7s-menu"></i> Catégories
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="mm-show mm-collapse">
                        <li>
                            <a routerLink="/challenges">Tous les challenges</a>
                        </li>
                        <li *ngFor="let category of challengeCategories">
                            <a routerLink="/challenges" [queryParams]="{category: category.name}">
                                {{ category.name }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="rank">
                        <i class="metismenu-icon pe-7s-star"></i> Classement
                    </a>
                </li>
                <li class="app-sidebar__heading">Contribuer</li>
                <li>
                    <a routerLink="proposals/add">
                        <i class="metismenu-icon pe-7s-speaker"></i> Proposer un challenge
                    </a>
                </li>
                <ng-container *ngIf="isAdmin">
                    <li class="app-sidebar__heading">Administration</li>
                    <li>
                        <a routerLink="user-list">
                            <i class="metismenu-icon pe-7s-users"></i> Utilisateurs
                        </a>
                    </li>
                    <li>
                        <a routerLink="challenges">
                            <i class="metismenu-icon pe-7s-server"></i> Challenges
                        </a>
                    </li>
                    <li>
                        <a routerLink="proposals">
                            <i class="metismenu-icon pe-7s-speaker"></i>
                            Proposition
                            <span class="badge badge-pill badge-danger ml-0 mr-2"
                                *ngIf="proposalsCount != 0">{{ proposalsCount }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="documentations">
                            <i class="metismenu-icon pe-7s-notebook"></i> Documents
                        </a>
                    </li>
                    <li>
                        <a routerLink="/aws">
                            <i>
                            </i>
                            AWS
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cloudflare">
                            <i>
                            </i>
                            Cloudflare
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>