<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-news-paper icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Liste des documentations
                    <div class="page-title-subheading">
                        Documentez-vous afin de devenir un vrai hackeur.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn btn-outline-primary"
                    routerLink="/documentation/add">
                    <i class="fa fa-plus-circle"></i> Ajouter un document
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Documents</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Aperçu</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Gestion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let documentation of documentations">
                                <tr>
                                    <td>
                                        <pdf-viewer *ngIf="getDocType(documentation)=='Document'" (click)="openPdf(pdfModal, documentation)"
                                                    zoom="0.08" class="pdf-preview" [src]="documentation.url" [render-text]="true"
                                                    style="display: block;" [stick-to-page]="true"></pdf-viewer>
                                                <i *ngIf="getDocType(documentation)=='Page web'" (click)="openPdf(pdfModal, documentation)"
                                                class="fa fa-file-alt fa-6x text-primary">
                                                </i>
                                      
                                    </td>
                                    <td>{{ documentation.name }}</td>
                                    <td>{{ getDocType(documentation) }}</td>
                                    <td>
                                        <a routerLink="/documentation/edit/{{ documentation.id }}"
                                            class="mb-2 mr-2 btn-transition btn btn-warning">
                                            <i class="fas fa-tools text-light"></i>
                                        </a>
                                        <a (click)="onDelete(documentation.name)"
                                            class="mb-2 mr-2 btn-transition btn btn-danger">
                                            <i class="fas fa-trash text-light"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #pdfModal>
    <pdf-viewer *ngIf="getDocType(currentDoc) == 'Document'" class="pdf-view" [src]="currentDoc.url" [render-text]="true" style="display: block;"
        [stick-to-page]="true"></pdf-viewer>
    <iframe [ngStyle]="{'height': iframeHeight}" *ngIf="getDocType(currentDoc)=='Page web'" [src]="currentDoc.url | sanitize"></iframe>
</ng-template>