<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            État du système
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>  