.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.img-description{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 87%; 
}

.description {
  align-self: flex-end;
}

.fsize-5 {
  font-size: 54px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: -4px;
  font-size: 22px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 17px;
  right: 2px;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.card-header, .card-title {
  text-transform: none;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .39rem !important;
}

.photo-container {
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.widget-chart {
  text-align: center;
  padding: 1rem;
  position: relative;
}

.icon-wrapper-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: .2;
}

.icon-wrapper i {
  margin: 0 auto;
  font-size: 1.7rem;
  position: relative;
  z-index: 5;
}