<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-search icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    Recherche d'un hackeur ou d'un challenge
                    <div class="page-title-subheading">Decouvrez les meilleurs hackeurs et challenges de Starter Hack.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card" *ngIf="users.length > 0">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Rang</th>
                                <th>Pseudo</th>
                                <th>Points</th>
                                <th>École</th>
                                <th>Entreprise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ users.indexOf(user) + 1 }}</td>
                                <td>
                                    <a routerLink="/user/{{ user.id }}">
                                        {{ user.username }}
                                    </a>
                                </td>
                                <td>{{ user.points }}</td>
                                <td>{{ user.school }}</td>
                                <td>{{ user.company }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngIf="challenges.length > 0">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Challenges</h5>
                    <table class="mb-0 table table-borderless">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Catégorie</th>
                                <th>Niveau</th>
                                <th>Points</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let challenge of challenges">
                                <tr [ngClass]="{'alert-success': challenge.isResolved}">
                                    <td>{{ challenge.name }}</td>
                                    <td>{{ challenge.category.name }}</td>
                                    <td>{{ challenge.level }}</td>
                                    <td>{{ challenge.points }}</td>
                                    <td>
                                        <a routerLink="/challenge/{{ challenge.id }}"
                                            class="mb-2 mr-2 btn-transition btn btn-outline-primary">
                                            <i class="fas fa-flag-checkered"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>